snippet gcja "simple"
#include <iostream>
#include <cstdio>
#include <cstdlib>
#include <algorithm>
#include <cmath>
#include <cstring>
using namespace std;

typedef unsigned int uint;
#define forn(i,n) for(decltype(n) i=0;i<(n);i++)

int main(int argc, char *argv[]) {

    if(DEBUG) freopen("input.txt","r",stdin);

    uint T;
    cin >> T;
    forn(TC,T) {
                 
    }
    return 0;
}
endsnippet
